{{extend './template.html'}}

{{block 'title'}}主页{{/block}}

{{block 'content'}}
<section id="features">
    <h2 class="display-4 mb-3 text-center p-5">如愿以偿，前程似锦</h2>
    {{ if sessionUser }}
    <div class="container-fluid text-center p-5">
        <a style="display: none;" type="button" class="btn btn-success btn-lg m-5" href="/recordtest">测试设备</a>
        {{ if sessionUser.stu_userlevel == '0'}}
        <a type="button" class="btn btn-danger btn-lg" href="/record">进入录制</a>
        {{ else }}
        <a type="button" class="btn btn-danger btn-lg" href="/monitor">进入监控</a>
        <a style="display: none;" type="button" class="btn btn-info btn-lg" href="/history" target="_blank">历史视频</a>
        {{ /if }}
    </div>
    {{ /if }}
</section>
{{/block}}