{{extend './template.html'}}

{{block 'title'}}Monitor{{/block}}

{{block 'content'}}
<section id="features">
    <h2 class="display-4 mb-3 text-center p-5">Welcome to monitor.</h2>

    <div class="container-fluid text-center pb-4">
        <div class="text-center">请在所有视频录制结束之后点击下方按钮处理视频。</div>
        <button type="button" class="btn btn-danger text-center" id="bind-video">处理视频</button>
    </div>
    
    <div class="col-10 container-fluid text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">年级</th>
                    <th scope="col">学号</th>
                    <th scope="col">姓名</th>
                    <th scope="col">专业</th>
                    <th scope="col">学期</th>
                    <th scope="col">课号</th>
                    <th scope="col">题目类别</th>
                    <th scope="col">上次在线</th>
                    <th scope="col">是否在线</th>
                    <th scope="col">正在录制</th>
                    <th scope="col">录制结束</th>
                </tr>
            </thead>
            <tbody>
                {{each user}}
                <tr>
                    <td>{{$value.stu_grade}}</td>
                    <td>{{$value.stu_no}}</td>
                    <td>{{$value.stu_name}}</td>
                    <td>{{$value.stu_class_sname}}</td>
                    <td>{{$value.stu_term}}</td>
                    <td>{{$value.stu_cno}}</td>
                    <td>{{$value.stu_wtype}}</td>
                    <td>{{$value.timeSlice}}秒前</td>
                    <td>{{$value.online}}</td>
                    <td>
                        <a href="/{{$value.stu_no}}/screen" target="_blank">screen</a>
                        <a href="/{{$value.stu_no}}/camera" target="_blank">camera</a>
                    </td>
                    <td>
                        <a href="final/{{$value.stu_no}}/screen" target="_blank">screen</a>
                        <a href="final/{{$value.stu_no}}/camera" target="_blank">camera</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
{{/block}}

{{ block 'script' }}
<script src="../vendor/jquery/jquery-3.6.0.min.js"></script>
<script>
    $('#bind-video').click(function () {
        $.post("/bindvideo", function (data, status) {
            document.getElementById('bind-video').disabled = true;
            alert("后台正在进行视频转码处理，请不要重复点击此按钮。\n过程可能持续几秒钟至几分钟，请耐心等待。\n直接点击录制结束播放按钮即可查看是否处理完成。");
        });
    });
</script>
{{ /block }}